<!-- escena.component.html -->
<div class="p-3">
  <div class="card rounded-5">

      <ng-container *ngFor="let img of frasesArray; let i=index">
        <div *ngIf="i===counter">
          <div [ngClass]="{'bg-primary': counter === 0, 'bg-secondary': counter === 1, 'bg-success': counter === 2}"
            class="py-3 d-flex justify-content-center align-items-center container-img">
            <img [src]="frasesArray[counter].img" alt="{{ img }}" class="img-fluid py-5">
          </div>
          <div class="p-3">
            <h2 class="h5 pt-3">{{ frasesArray[counter].title }}</h2>
            <p>{{ frasesArray[counter].description }}</p>
          </div>
        </div>
      </ng-container>


    <div class="d-flex justify-content-between align-items-center p-3 pb-5 container-footer" style="margin-top: auto;">
      <!-- dot -->
      <div class="pagination">
        <span class="dot dot-active" *ngFor="let step of frasesArray; let i = index" [class.active]="i === counter"
          (click)="changeStep(i)"></span>
      </div>

      <!-- botones -->
      <div class="d-flex justify-content-center align-items-center gap-2">

        <!-- Botón Previous -->
        <button type="button" *ngIf="counter !== 0" class="btn btn-outline-dark rounded-circle rewind" (click)="onPrevious()">
          <span style="margin-bottom: 3px;">&#8592;</span>
        </button>

        <!-- Botón Next -->
        <button type="button" *ngIf="counter !== frasesArray.length - 1" class="btn btn-dark rounded-circle p-3 fordward"
          (click)="onNext()">
          <span style="margin-bottom: 3px;">&#8594;</span>
        </button>
      </div>
    </div>
  </div>
</div>
